@import './variables.scss';

body {
  background-color: $primary-background-color;

  h2 {
    color: $font-primary-color;
    font-family: $font-family;
    font-size: 18px;
  }

  h3 {
    color: $font-secondary-color;
    font-family: $font-family;
    font-size: 16px;
  }

  article {
    color: $font-secondary-color;
    font-family: $font-family;
    font-size: 14px;
  }
}