.create-account {
  &_container {
    display: flex;
    flex-direction: column;
    gap: $space-2;
  }

  &_context {
    display: flex;
    flex-direction: column;
    gap: $space;
  }

  &_username-email {
    display: flex;
    gap: $space;
  }
}