@import '@styles/global.scss';
@import '@components/organisms/create-account/styles.scss';

.main_create-account {
  display: flex;
  align-items: center;
  height: 80vh;
}

.create-account {
  &_form {
    display: flex;
    flex-direction: column;
    gap: $space-3;
  }
  &_header-section {
    display: flex;
    flex-direction: column;
    gap: $space-title-subtitle;
  }
  &_login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}