@import '@styles/global.scss';
@import '@components/organisms/login-form/styles.scss';

.main_login {
  display: flex;
  align-items: center;
  height: 80vh;
}

.login {
  &_form {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: $space-3;
  }
  &_header-section {
    display: flex;
    flex-direction: column;
    gap: $space-title-subtitle;
  }
  &_create-account {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}