@import '@styles/global.scss';
@import '@components/organisms/styles.scss';

body {
  margin: 0;
}

header {
  background: #e5e9f2;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}