@import '@styles/global.scss';
@import '@components/molecules/question-short/styles.scss';
@import '@components/organisms/styles.scss';

.main_home-logged {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space;

  .css-apikin-MuiListItem-root {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.section {
  &-competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}