@import '@styles/global.scss';
@import '@components/organisms/styles.scss';

.main_home-logged {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space;
}

.section {
  &-competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}